/* Задача 3 */
li {
  list-style: none;
}

.list {
  display: flex;
  justify-content: center;
}

.img-list-item-js {
  width: 200px;
}

/* Задача 6 */

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}

/* Задача 8 */

#boxes {
  display: flex;
}

.box {
  display: flex;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
